<template>
  <div class="murren-battle-lobby">
    <div class="murren-battle-lobby__head">
      <span>Ожидают битву:</span>
      <el-button
        class="murr-button"
        @click="createMurrBattleRoom"
        v-if="getShowCreateMurrBattleRoomBtn_getters"
        >Создать битву
      </el-button>
    </div>
    <div class="murren-battle-lobby__table">
      <div class="murren-battle-lobby__table-row">
        <div
          v-for="room in this.getMurrBattleRoomList_getters"
          :key="room.murr_websocket_id"
          class="murren-battle-lobby__room"
        >
          <div
            v-for="murren in room.murrens_in_ws_data"
            :key="murren.murren_id"
            class="murren-battle-lobby__room-murren"
            @click="openPopover(murren.murren_id)"
          >
            <div
              class="murren-battle-lobby__room-murren_avatar"
              :style="{
                backgroundImage: `url(${murren.murren_avatar})`,
              }"
            ></div>
            <div class="murren-battle-lobby__room-murren_name">
              {{ murren.murren_name | maxMurrenNameLength }}
            </div>

            <transition name="el-zoom-in-center">
              <PopoverMurrenClick
                v-click-outside="onClickOutside"
                v-if="murren.murren_id === openedPopoverMurren"
                :idOfClickedMurren="murren.murren_id"
                :nameOfClickedMurren="murren.murren_name"
                :tavernSocket="tavernSocket"
              />
            </transition>
          </div>

          <div class="murren-battle-lobby__room-center">
            <div class="murren-battle-lobby__room-center_swords"></div>
            <el-progress
              class="murren-battle-lobby__room-center_progress"
              :text-inside="false"
              :show-text="false"
              :stroke-width="6"
              :percentage="progressBarRangePercentage"
              v-if="room.murr_websocket_id === murrBattleRoomId"
            ></el-progress>
            <div
              v-if="room.murr_websocket_id === murrBattleRoomId"
              class="murren-battle-lobby__room-center_text"
            >
              Готовим <br />
              арену
            </div>
          </div>

          <div
            v-if="room.murrens_in_ws_data.length === 1"
            class="murren-battle-lobby__stub"
            @click="acceptBattle(room)"
          >
            <div class="murren-battle-lobby__stub-plus"></div>
            <span class="murren-battle-lobby__stub-text">присоединиться</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "./scss/main.scss";
import PopoverMurrenClick from "./PopoverMurrenClick";
import BattleScene from "./BattleScene";
import {
  websocket_base_url,
  battleLobbyUrl,
  murrWebSocketTypes,
} from "../../devAndProdVariables";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "MurrGame",
  data() {
    return {
      battleLobbyUrl: null,
      openedPopoverMurren: null,
      murrBattleRoomId: null,
      murrensInBattleRoom: [],
      progressBarRangePercentage: 0,
      // showCreateMurrBattleRoomBtn: true,
    };
  },
  mounted() {
    let token = this.$store.getters.currentMurren.token;
    this.battleLobbySocket = new WebSocket(
      websocket_base_url + battleLobbyUrl + "?token=" + token
    );

    this.battleLobbySocket.onopen = () => {
      // eslint-disable-next-line no-console
      console.log("socket.onopen");
    };
    this.battleLobbySocket.onmessage = (event) => {
      this.socketMessage = JSON.parse(event.data);

      // eslint-disable-next-line no-console
      console.log(
        this.socketMessage.data,
        this.socketMessage.gan,
        this.socketMessage.status
      );
      if (this.socketMessage.gan === "murrenConnectToBattleLobby") {
        if (this.getMurrBattleRoomList_getters.length === 0) {
          this.socketMessage.data.forEach((room) => {
            this.setMurrBattleRoomList_mutations(room);
          });
        }
      }
      if (this.socketMessage.gan === "createMurrBattleRoom") {
        this.setMurrBattleRoomList_mutations(this.socketMessage.data);
        this.privateBattleRoomSocket = new WebSocket(
          websocket_base_url +
            this.socketMessage.data.murr_ws_link +
            "?token=" +
            token
        );
      }
      if (this.socketMessage.gan === "acceptBattle") {
        this.$store.commit(
          "setMurrBattleRoom_mutations",
          this.socketMessage.data
        );
        this.murrensInBattleRoom = this.socketMessage.data.murrens_in_ws_data;
        this.murrBattleRoomId = this.socketMessage.data.murr_websocket_id;
        for (let i = 1; i < 6; i++) {
          setTimeout(() => {
            this.preparePrivateBattleRoom(
              this.murrensInBattleRoom,
              this.murrBattleRoomId
            );
          }, i * 400);
        }
      }
      if (this.socketMessage.gan === "disconnect_MurrBattleRoomConsumer") {
        this.socketMessage.data.forEach((id) => {
          this.popMurrBattleRoom_mutations(id);
        });
      }
    };

    this.battleLobbySocket.onclose = (event) => {
      if (event.wasClean) {
        // eslint-disable-next-line no-console
        console.log("Соединение закрыто чисто");
      } else {
        // eslint-disable-next-line no-console
        console.log("Обрыв соединения");
      }
      // eslint-disable-next-line no-console
      console.log("Код: " + event.code + " причина: " + event.reason);
    };
    this.battleLobbySocket.onerror = (error) => {
      // eslint-disable-next-line no-console
      console.log("Ошибка " + error.message);
    };
  },
  computed: {
    ...mapGetters({
      getMurrBattleRoomList_getters: "getMurrBattleRoomList_getters",
      getShowCreateMurrBattleRoomBtn_getters:
        "getShowCreateMurrBattleRoomBtn_getters",
    }),
  },
  methods: {
    ...mapMutations({
      setMurrBattleRoomList_mutations: "setMurrBattleRoomList_mutations",
      popMurrBattleRoom_mutations: "popMurrBattleRoom_mutations",
      setShowCreateMurrBattleRoomBtn_mutations:
        "setShowCreateMurrBattleRoomBtn_mutations",
    }),
    ...mapActions({
      notification: "popUpMessage",
    }),
    createMurrBattleRoom() {
      this.setShowCreateMurrBattleRoomBtn_mutations(false);
      this.battleLobbySocket.send(
        JSON.stringify({
          data: {
            custom_gan_name: "createMurrBattleRoom",
            murr_ws_type: murrWebSocketTypes.MURR_BATTLE_ROOM,
            murr_ws_name: `${this.$store.getters.currentMurren.username}`,
          },
          gan: "create_murr_websocket",
        })
      );
    },

    acceptBattle(room) {
      if (
        // TODO fix check murren by index
        room.murrens_in_ws_data[0].murren_id ===
        this.$store.getters.currentMurren.id
      ) {
        this.notification({
          message: "Ожидаем противника",
          type: "success",
        });
        return;
      }
      this.battleLobbySocket.send(
        JSON.stringify({
          data: {
            murr_websocket_id: room.murr_websocket_id,
            custom_gan_name: "acceptBattle",
          },
          gan: "join_to_murr_websocket",
        })
      );
    },

    onClickOutside() {
      this.openedPopoverMurren = false;
    },
    openPopover(murreId) {
      this.openedPopoverMurren = murreId;
    },
    preparePrivateBattleRoom(murrensInBattleRoom, murrBattleRoomId) {
      this.progressBarRangePercentage += 20;

      if (this.progressBarRangePercentage >= 100) {
        murrensInBattleRoom.forEach((item) => {
          if (this.$store.getters.currentMurren.id === item.murren_id) {
            this.$store.commit("modal/open", {
              transition: "el-zoom-in-center",
              component: {
                render: BattleScene,
                context: {
                  socket: this.privateBattleRoomSocket,
                  murrens_in_ws_data: this.socketMessage.data
                    .murrens_in_ws_data,
                },
              },
            });
          }
        });

        this.progressBarRangePercentage = 0;

        this.popMurrBattleRoom_mutations(murrBattleRoomId);
      }
    },
  },
  filters: {
    maxMurrenNameLength(murrenName) {
      if (murrenName.length > 12) {
        return murrenName.substring(0, 12) + "...";
      }
      return murrenName;
    },
  },
  components: {
    PopoverMurrenClick,
  },
};
</script>
