.codex-editor {
  min-height: calc(100vh - 230px);
}

.ce-header {
  line-height: 1.33;
  padding: 30px 0 20px;
  margin: 0;
  font-size: 1.875rem;
}

.codex-editor__redactor {
  padding-bottom: 100px !important;
  min-height: calc(100vh - 230px);
}

.ce-paragraph {
  padding: 5px 0 20px;
  font-size: 1.0625rem;
  line-height: 1.375rem;
}

.ce-block--selected .ce-block__content {
  background-color: rgba($main, 0.25);
}

.ce-code__textarea {
  @include number;
  background: $dark;
  color: $white-lighter;
  border: 0;
  border-radius: 3px;
  resize: none;
  font-size: 14px;
}

.ce-block {
  padding-bottom: 1px;
}

.ce-block__content {
  max-width: 100%;
}

.ce-toolbar__content {
  max-width: 100%;
}

.ce-toolbar__plus {
  top: 50%;
  left: -45px;

  border: 0;
  background-color: $main;
  color: $white;
  border-radius: 3px;

  &:hover {
    background-color: $main-hover;
  }
}

.codex-editor--toolbox-opened .ce-toolbar__plus {
  background-color: $main-hover;
  margin-right: 2px;
}

.ce-toolbar__actions {
  top: 0;
  right: -45px;
}

.ce-toolbar__settings-btn {
  height: 34px;
  width: 34px;

  border-radius: 3px;
  background-color: $main;
  color: $white;

  &:hover {
    background-color: $main-hover;
  }
}

.image-tool {
  text-align: center;

  .image-tool__image-picture {
    margin-left: auto;
    margin-right: auto;
  }
}

.cdx-settings-button {
  background-color: $main;
  color: $white;
  border-radius: 0;

  &:hover {
    background-color: $main-hover;
  }

  &.cdx-settings-button--active {
    border-bottom: 2px solid $white;
  }
}

.cdx-button {
  background: $dark-accent-secondary;
  border-radius: 3px;
  border: 1px dashed $accent-color-main;
  color: $accent-color-main;

  &:hover {
    background-color: rgba($accent-color-main, 0.05);
  }
}

.image-tool__image {
  margin-bottom: 2px;
}

.image-tool--withBackground .image-tool__image {
  background-color: rgba($accent-color-main, 0.05);
}

.image-tool--withBorder .image-tool__image {
  border-radius: 0;
  border: 1px dashed rgba($accent-color-main, 0.5);
}

.image-tool--loading .image-tool__image {
  background-color: rgba($accent-color-main, 0.05);
  border: 1px dashed rgba($accent-color-main, 0.5);
  border-radius: 0;
}

.image-tool__tune {
  display: none;
}

.image-tool__caption {
  border-radius: 0;
  border: 0;
  padding: 2px 10px;
  color: $white-light;
  font-size: 14px;
  font-style: italic;
}

.ce-settings {
  top: 40px;
  background: transparent;
  border: 0;
  min-width: 109px;
}

.ce-settings__plugin-zone {
  display: none;
}

.ce-settings__button {
  border: 0;
  border-radius: 3px;
  background-color: $main;
  color: $white;

  &:hover {
    background-color: $main-hover;
  }
}

.ce-settings__default-zone:not(:empty) {
  padding: 0;
}

.ce-toolbar .ce-toolbox {
  border-radius: 0;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 34px;

  border: 0;
  background: transparent;
}

.ce-toolbox__button {
  color: $white;
  background-color: $main;
  height: 100%;
  margin-right: 2px;
  border-radius: 3px;

  &:hover {
    background-color: $main-hover;
  }
}

.ce-inline-toolbar {
  border-radius: 0;
  background: transparent;
  color: $white;
  border: 0;
}

.ce-conversion-toolbar {
  border-radius: 3px;
  background: $main-hover;
  color: $white;
  border: 0;
  margin-top: 2px;
  width: 100%;
  margin-left: 1px;
}

.ce-conversion-toolbar__label {
  color: $white-light;
}

.ce-inline-tool {
  padding: 0 10px !important;
  width: 34px;
  background-color: $main;
  border-radius: 3px;

  &:hover {
    background-color: $main-hover;
  }

  .icon {
    color: $white;
  }

  &.ce-inline-tool--active {
    background-color: $main-active;
    border-bottom: 2px solid $white;
  }
}

.ce-inline-toolbar__buttons,
.ce-inline-toolbar__toggler-and-button-wrapper {
  color: #fff;
}

.ce-conversion-tool__icon {
  background: transparent;
}

.ce-inline-tool-input {
  background-color: $main;
  color: $white;
  border-top: 0;
  margin-top: 2px;

  &::placeholder {
    color: $white-light;
    font-weight: normal;
  }
}

.ce-inline-toolbar__toggler-and-button-wrapper {
  padding-right: 0;
}

.ce-inline-toolbar__dropdown {
  border-right: 0;
  margin-right: 2px;
  background-color: $main;
  border-radius: 3px;

  &:hover {
    background-color: $main-hover;
  }
}

.ce-inline-toolbar__dropdown-content svg,
.ce-inline-toolbar__dropdown .icon--toggler-down {
  fill: $white;
}

.ce-block:not(:first-child) {
  .ce-paragraph[data-placeholder]:empty::before,
  .codex-editor__redactor [contenteditable]:empty:after {
    display: none;
  }
}

.ce-paragraph[data-placeholder]:empty::before {
  color: $white-lighter;
}

@media (min-width: 651px) {
  .codex-editor--narrow .codex-editor__redactor {
    margin-right: 0;
  }

  .codex-editor--narrow .ce-block--focused {
    padding-right: 0;
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .ce-toolbar {
    border-radius: 0;
    background-color: rgba($dark-accent-secondary, 0.8);
    border: 0;
    box-shadow: none;
  }
  .ce-toolbar__actions {
    top: 0;
    right: -100%;
    transform: translateX(calc(-100% - (-9px)));
    margin-right: 0;
  }

  .ce-toolbox__button:last-child {
    margin-right: 0;
  }

  .codex-editor--toolbox-opened {
    .ce-toolbar__actions {
      transform: translateX(calc(-100% - (-5px)));
    }
  }

  .ce-settings {
    right: 0px;
  }
}

@media (max-width: 860px) {
  .codex-editor {
    min-height: calc(75vh - 230px);
  }

  .codex-editor__redactor {
    min-height: calc(75vh - 230px);
  }
}
